<div class="post" id="post-{{ post.id }}">
  <div class="meta">
    <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
    <small>{{ post.timestamp|date:"Y-m-d H:i" }}</small>
  </div>

  <div class="content">
    <p class="post-text" id="post-text-{{ post.id }}">{{ post.content|linebreaksbr }}</p>
  </div>

  <div class="actions">
    {% if user.is_authenticated %}
      <button class="like-btn" data-post-id="{{ post.id }}">
        {% if post.is_liked %}
          Unlike
        {% else %}
          Like
        {% endif %}
      </button>
      <span id="likes-count-{{ post.id }}">{{ post.likes.count }}</span> likes
    {% endif %}

    {% if user == post.author %}
      <button class="edit-btn" data-post-id="{{ post.id }}">Edit</button>
    {% endif %}
  </div>
</div>
<hr>
